* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #F2F4F7;
}

.container {
    display: flex;
}

/* Sidebar */
.sidebar {
    width: 220px;
    background: #0B1C2D;
    min-height: 100vh;
    padding: 20px;
    color: white;
}

.sidebar h2 {
    margin-bottom: 20px;
}

.sidebar a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    margin-bottom: 5px;
}

.sidebar a.active,
.sidebar a:hover {
    background: #F39C12;
}

/* Main */
.main {
    padding: 30px;
    width: 100%;
}

.header {
    margin-bottom: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.card h3 {
    margin-bottom: 15px;
}

/* Relief buttons */
.relief-types {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

/* Relief buttons */
.relief-btn {
    padding: 10px 15px;
    border: 1px solid #ccc;
    background: #F8F9F9;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.3s;
}

.relief-btn.active {
    background: #1F4E79;
    color: white;
}


/* Severity */
.severity label {
    margin-right: 15px;
}

/* Inputs */
input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

/* Grid */
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

/* Actions */
.actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.cancel {
    background: #BDC3C7;
    border: none;
    padding: 10px 15px;
}

.submit {
    background: #E67E22;
    border: none;
    padding: 10px 15px;
    color: white;
    cursor: pointer;
}

/* Popup */
#popup {
    display: none;
    position: fixed;
    top: 40%;
    left: 40%;
    background: white;
    padding: 20px;
    border: 2px solid #E67E22;
}
